*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  color: #eeeeee;
  background-color: #393939;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}


@media screen and (min-width: 992px) {
  .row-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .row-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}